<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, minimum-scale=1">
  <!--Link bootstrap, css and fonts-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel = "stylesheet" type = "text/css" href="../styles/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id = "notifyModal">
        <div class = "modal-content">
            <h1>Notifications</h1>
            <p>New Bid for Chicken Wing</p>
            <p>New Bid for Chicken Wing</p>
            <p>New Bid for Chicken Wing</p>
            <p>New Bid for Chicken Wing</p>
            <p>New Bid for Chicken Wing</p>
            <p>New Bid for Chicken Wing</p>
            <p>New Bid for Chicken Wing</p>
            <p>New Bid for Chicken Wing</p>
            <p>New Bid for Chicken Wing</p>
            <p>New Bid for Chicken Wing</p>
            <p>New Bid for Chicken Wing</p>
            <p>New Bid for Chicken Wing</p>
            <p>New Bid for Chicken Wing</p>
            <p>New Bid for Chicken Wing</p>
            <p>New Bid for Chicken Wing</p>
            <p>New Bid for Chicken Wing</p>
            <p>New Bid for Chicken Wing</p>
            <p>New Bid for Chicken Wing</p>
            <p>New Bid for Chicken Wing</p>
            <p>New Bid for Chicken Wing</p></div>
            
    </div> 
</body>